#up-to-top {
  z-index: 10;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  background-color: #1e1e1e;
  border-radius: 100%;
  position: fixed;
  bottom: 40px;
  right: 25px;
  cursor: pointer;
  color: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
#up-to-top span {
  max-width: 25px;
  transition: 0.3s ease-in-out;
}
#up-to-top span img {
  object-fit: cover;
  object-position: center;
  max-width: 100%;
}
#up-to-top:hover {
  box-shadow: 0 0 30px rgba(0, 0, 17, 0.8);
  background-color: #000000;
}
#up-to-top:hover span {
  transform: rotate(-360deg);
}
.active {
  visibility: visible !important;
  opacity: 1 !important;
}
