@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600&display=swap');

* {
    font-family: 'Prompt', sans-serif;
    
}
body{
    background-color: #79A3B3;
    overflow-x: hidden;
    width: 100%;
    margin: auto;
}
html {
    scroll-behavior: smooth;
  }
.navbar {
    margin: 5px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
}
.nav {
    margin-left: 10%;
    margin-right: 5%;
    position: relative;
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.nav a img {
    width: 100px;
}
.nav #myLinks {
    display: none;
    right: 0%;
}
.nav a.icon {
    display: block;
}
.icon {
    cursor: pointer;
    border: none;
}
.icon svg {
    width: 25px;
    fill: #111;
}
.icon svg:hover {
    fill: #818181;
}
.slide_nav {
    height: 230px;
    width: 0;
    position: absolute;
    z-index: 1;
    right: 0;
    background-color: #ACACAC;
    overflow: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.slide_nav .list {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #111;
    display: block;
    font-weight: 500;
    transition: 0.3s;
}
.slide_nav .list:hover {
    background-color: #D9D9D9;
    font-size: 20px;
}
.slide_nav .closebtn {
    text-decoration: none;
    font-size: 45px;
    color: #818181;
    display: block;
    transition: 0.3s;
    position: absolute;
    top: 0;
    right: 0%;
    height: 45px;
}
.closebtn svg {
    fill: #111;
    top: 0;
    width: 40px;
    height: 40px;
}
.closebtn svg:hover {
    fill: #f1f1f1;
}
.sticky {
    margin-top: 20px;
    position: fixed;
    width: auto;
}
/* ----------------------------------------------------------------------------------- */
@media only screen and (min-width:1366px){
.sec-1 {
    position: relative;
    background-size: contain;
    margin-bottom: 100px;
}

.cover {
    min-height: 768px;
    position: relative;
    z-index: -1;
}

.cover .wrapper_1 {
    position: absolute;
    margin: -12% 75%;
   
}
.wrapper_1 img {
    width: 500px;
}
.cover .wrapper_2 {
    position: absolute;
    margin: 12% 67%;
}
.wrapper_2 img {
    width: 130px;
}
.cover .wrapper_3 {
    position: absolute;
    margin: 21% 0;
}
.wrapper_3 img {
    width: 100vw;
}


.title .paper_1 {
    position: absolute;
    z-index: 1;
    margin: -40% 10%;
}
.paper_1 img{
    width: 310px;
}

.title .fast_1{
    position: absolute;
    z-index: 2;
    margin: -41% 12%;
}
.fast_1 img{
    width: 70px;
}
.title .fast_2{
    position: absolute;
    z-index: 2;
    margin: -40% 16%;
}
.fast_2 img{
    width: 70px;
}
.title .fast_3{
    position: absolute;
    z-index: 2;
    margin: -40% 21%;
}
.fast_3 img{
    width: 45px;
}
.title .fast_4{
    position: absolute;
    z-index: 2;
    margin: -40% 24%;
}
.fast_4 img{
    width: 50px;
}
.title .braek{
    position: absolute;
    z-index: 2;
    margin: -41% 26%;
}
.braek img{
    width: 50px;
}

.title .paper_2{
    position: absolute;
    z-index: 1;
    margin: -34% 10%;
}

.paper_2 img{
    width: 410px;
}
.title .fashion_1{
    position: absolute;
    z-index: 2;
    margin: -33% 12%;
}
.fashion_1 img{
    width: 33px;
}
.title .fashion_2{
    position: absolute;
    z-index: 2;
    margin: -33% 14%;
}
.fashion_2 img{
    width: 70px;
}
.title .fashion_3{
    position: absolute;
    z-index: 2;
    margin: -33% 19%;
}
.fashion_3 img{
    width: 45px;
}
.title .fashion_4{
    position: absolute;
    z-index: 2;
    margin: -33% 22%;
}
.fashion_4 img{
    width: 60px;
}
.title .fashion_5{
    position: absolute;
    z-index: 2;
    margin: -33% 26%;
}
.fashion_5 img{
    width: 30px;
}
.title .fashion_6{
    position: absolute;
    z-index: 2;
    margin: -34% 28%;
}
.fashion_6 img{
    width: 70px;
}
.title .fashion_7{
    position: absolute;
    z-index: 2;
    margin: -33% 33%;
}
.fashion_7 img{
    width: 55px;
}

.title .caption{
    position: absolute;
    z-index: 2;
    margin: -24% 10%;
}
.caption img{
    width: 250px;
}

.title .bg{
    position: absolute;
    z-index: -2;
    margin: -23% 0;
}
.bg img{
    width: 100vw;
}
}