@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600&display=swap");

* {
  font-family: "Prompt", sans-serif;
}

body {
  margin: 0;
}

.footer {
  /* padding: 5px 0; */
  padding: 0.586vw 0;
  background-color: #272727;
}
.footer p {
  margin: 0;
  color: #ffffff;
  /* font-size: 16px; */
  font-size: 1.171vw;
  text-align: center;
  font-weight: 300;
}
