@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600&display=swap");
* {
  font-family: "Prompt", sans-serif;
}
body {
  margin: auto;
}
.sec-6 {
  background-color: #1e1e1e;
  /* height: 300vh; */
  height: 250vh;
  /* height: 129.312vw; */
}
.sec-6 .sec-6-title {
  /* padding-top: 850px; */
  padding-top: 62.225vw;
  align-items: center;
  position: relative;
  z-index: 6;
}
.sec-6-title {
  text-align: center;
  /* font-size: 100px; */
  font-size: 7.321vw;
  color: #fff;
  font-weight: 900;
  z-index: 6;
  text-shadow: -2px 2px 0 #000, 2px 2px 0 #000, 2px -2px 0 #000,
    -2px -2px 0 #000;
}

.sec-6-group .clock-1 {
  /* margin-top: -79%;
  margin-left: 27%; */
  margin-top: -78vw;
  margin-left: 24vw;
  position: absolute;
  z-index: 2;
}
.clock-1 img {
  /* width: 350px; */
  width: 25.55vw;
}

.sec-6-group .clock-2 {
  margin-top: -89vw;
  margin-left: 31vw;
  position: absolute;
  z-index: 2;
}
.clock-2 img {
  /* width: 300px; */
  width: 21.89vw;
}

.sec-6-group .clock-3 {
  /* margin-top: -84%;
  margin-left: 45%; */
  margin-top: -86vw;
  margin-left: 46vw;
  position: absolute;
  z-index: 2;
}
.clock-3 img {
  /* width: 300px; */
  width: 21.89vw;
}

.sec-6-group .clock-4 {
  /* margin-top: -68%;
  margin-left: 28%; */
  margin-top: -67vw;
  margin-left: 29vw;
  position: absolute;
  z-index: 2;
}
.clock-4 img {
  /* width: 540px; */
  width: 39.42vw;
}

.sec-6-group .shirt-orange {
  /* margin-top: -70%;
  margin-left: 55%; */
  margin-top: -68vw;
  margin-left: 57vw;
  position: absolute;
  z-index: 3;
}

.shirt-orange img {
  /* width: 230px; */
  width: 16.78vw;
}

.sec-6-group .g04_woman {
  /* margin-top: -78%;
  margin-left: 30%; */
  margin-top: -77vw;
  margin-left: 28vw;
  position: absolute;
  z-index: 3;
}

.g04_woman img {
  /* width: 750px; */
  width: 50.905vw;
}

.sec-6-group .g05_paper {
  /* margin-top: -60%;
  margin-left: 27%; */
  margin-top: -56.5vw;
  margin-left: 24vw;
  position: absolute;
  z-index: 5;
}

.g05_paper img {
  /* width: 350px; */
  width: 25.55vw;
}

.all_woman .woman_red {
  margin-top: -25%;
  margin-left: 30%;
  position: absolute;
  z-index: 6;
}
.woman_red img {
  /* width: 540px; */
  width: 39.531vw;
}

.all_woman .woman_original {
  margin-top: -17%;
  margin-left: 15%;
  position: absolute;
  z-index: 6;
}
.woman_original img {
  /* width: 544px; */
  width: 39.531vw;
}

.all_woman .woman_red2 {
  margin-top: -9%;
  margin-left: 0%;
  position: absolute;
  z-index: 6;
}
.woman_red2 img {
  /* width: 544px; */
  width: 39.824vw;
}

.sec-6 .sec-6-title2 {
  margin-top: 80px;
  margin-left: 5%;
  position: absolute;
  z-index: 7;
}
.sec-6-title2 p {
  padding: 0;
  margin: 0;
  /* line-height: 100px; */
  line-height: 7.321vw;
  /* font-size: 100px; */
  font-size: 7.321vw;
  color: #fff;
  font-weight: 900;
  z-index: 7;
  text-shadow: -2px 2px 0 #000, 2px 2px 0 #000, 2px -2px 0 #000,
    -2px -2px 0 #000;
}

.slide .banner_slide {
  opacity: 1;
  text-align: left;
  /* border-radius: 20px; */
  border-radius: 1.464vw;
  background: #fff;
  overflow: hidden;
  /* position: absolute; */
  z-index: 90;
  flex-shrink: 0;
  /* padding: 20px; */
  padding: 1.464vw;
  z-index: 7;
  /* margin-bottom: 16px; */
  margin-bottom: 1.168vw;
}
.banner_title {
  color: #000;
  font-family: Prompt;
  /* font-size: 40px; */
  font-size: 2.928vw;
  font-weight: 400;
  margin: 0 0 6px 0;
  z-index: 7;
}
.banner_describe {
  color: #000;
  font-family: Prompt;
  /* font-size: 24px; */
  font-size: 1.757vw;
  font-weight: 400;
  margin: 0;
  line-height: normal;
  z-index: 7;
}
.slide {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  flex-wrap: wrap;
  margin-right: 2%;
  /* align-items: center; */
}
/*
#sec6-1 {
  top: 40%;
  left: 62%;
}
#sec6-2 {
  top: 51%;
  left: 62%;
}
#sec6-3 {
  top: 62%;
  left: 62%;
}
#sec6-4 {
  top: 73%;
  left: 62%;
}
#sec6-5 {
  top: 84%;
  left: 62%;
}
#sec6-6 {
  top: 95%;
  left: 62%;
} */
#sec6-1,
#sec6-2,
#sec6-3,
#sec6-4,
#sec6-5,
#sec6-6 {
  /* position: absolute; */
  right: 5%;
}
.sec-6-div .sec-6-bg {
  position: absolute;
  margin-top: -64%;
  z-index: 8;
}
.sec-6-bg img {
  width: full;
}

/* --------DELL-------- */
@media screen and (min-width: 3840px) {
  .sec-6 {
    height: 250vh !important;
  }
}
/* --------PC-------- */
@media screen and (min-width: 1301px) and (max-width: 3839px) {
  .sec-6 {
    height: 220vh !important;
    min-height: 250vh !important;
  }
}

/* --------TABLET-------- */
@media screen and (min-width: 1024px) and (max-width: 1300px) {
  .sec-6 {
    height: 170vh !important;
  }
}
/* --------MOBILE-------- */
@media screen and (min-width: 390px) and (max-width: 1023px) {
}
