@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600&display=swap");

* {
  font-family: "Prompt", sans-serif;
}

body {
  margin-top: -10%;
  margin-bottom: -10%;
}

.sec-8 {
  background-color: #1e1e1e;
  /* height: 400vh; */
}

.sec-8-title p {
  margin-top: 0;
  margin-bottom: 5%;
  padding-top: 5%;
  /* font-size: 50px; */
  font-size: 3.66vw;
  color: #fff;
  text-align: center;
}
.sec-8-img {
  width: 75%;
  margin: auto;
}
.sec-8-img img {
  width: 100%;
}

.quote {
  margin-right: 0;
  gap: 10px;
}
.quote .quote_chat1 {
  margin-top: 2%;
  position: absolute;
  right: 2%;
}
.quote_chat1 img {
  /* width: 70%; */
  width: 27.086vw;
}

.quote .quote_chat2 {
  margin-top: 10%;
  position: absolute;
  right: 2%;
}
.quote_chat2 img {
  /* width: 70%; */
  width: 23.426vw;
}

.i05_hero {
  position: absolute;
  /* margin-top: -50%; */
  margin-top: 25vw;
  margin-left: -63vw;
}
.i05_hero img {
  /* width: 70%; */
  width: 38.58vw;
}

.i01_halftone {
  z-index: 1;
  margin-top: 10%;
  padding-top: 10vw;
  /* margin-bottom: 0; */
}
.i01_halftone img {
  width: 100%;
}
