@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600&display=swap");
* {
  font-family: "Prompt", sans-serif;
}

body{
    margin: auto;
}
.sec-3 {
  background-image: url(/img/assets/c/c01_paper.png);
  background-color: #1e1e1e;
  height: 100vh;
  padding: 20px;
}
.sec-3-click {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    justify-content:center;
}
.sec-3-click p{
    position: absolute;
    text-decoration: underline;
    color: #fff;
}
.shirt{
    display: flex;
    margin-top: 0;
}
.shirt-img-1 {
  margin: 150px 25%;
  position: absolute;
}
.shirt-img-1 .shirt-1 {
  /* width: 300px; */
  width: 21.94vw;
}

.shirt-img-2{
    position: absolute;
    margin: 130px 39%;   
}
.shirt-img-2 .shirt-2 {
  /* width: 300px; */
  width: 21.94vw;
}
.shirt-img-3 {
  margin: 250px 31%;
  position: absolute;
}
.shirt-img-3 .shirt-3 {
  /* width: 250px; */
  width: 18.29vw;
}
.shirt-img-4 {
  margin: 160px 52%;
  position: absolute;
}
.shirt-img-4 .shirt-4 {
  /* width: 340px; */
  width: 24.87vw;
}
.shirt-img-5 {
  margin: 250px 53%;
  position: absolute;
}
.shirt-img-5 .shirt-5 {
  /* width: 300px; */
  width: 24.87vw;
}

.shirt-img-6 {
  margin: 140px 48%;
  position: absolute;
  z-index: 1;
}
.shirt-img-6 .shirt-6 {
  /* width: 300px; */
  width: 21.94vw;
}
.shirt-img-7 {
  margin: 300px 38%;
  position: absolute;
  z-index: 2;
}
.shirt-img-7 .shirt-7 {
  /* width: 300px; */
  width: 21.94vw;
}
.shirt-img-8 {
  margin: 140px 47%;
  position: absolute;
  rotate: 10deg;
}
.shirt-img-8 .shirt-8 {
  /* width: 100px; */
  width: 7.32vw;
}
.shirt-img-9 {
  margin: 280px 20%;
  position: absolute;
}
.shirt-img-9 .shirt-9 {
  /* width: 300px; */
  width: 21.94vw;
}
.shirt-img-10{
    margin: 320px 62%; 
     position: absolute;
     z-index: 2;
 }
 .shirt-img-10 .shirt-10{
     width: 180px;
 }


.BornHS__Wrapper {
    position: relative;
    z-index: 10;
}
.BornHS__Modal__Input{
    position: absolute;
}
.BornHS__Wrapper .BornHS__Close {
    display: none;
}
.BornHS__Wrapper .Content__Wrapper {
    position: relative;
}
.BornHS__Wrapper .BornHS__Modal__Content {
    background: #F49807;
    border-radius: 5px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.22);
    color: #fff;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    width: 360px;
    z-index: 10;
}

.BornHS__Modal__Content .Content__Wrapper {
    padding: 10px;
}
.Content__Wrapper .BornHS__Title {
    font-size: 20px;
    line-height: 20px;
    margin-top:10px;
    text-align: center;
}
.Content__Wrapper p {
    text-align: center;
    font-size: 15px;
    margin: 0;
    padding: 0;
}


.BornHS__Wrapper .BornHS__Input {
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    width: 0;
    z-index: 6;
    
}
.BornHS__Wrapper .BornHS__Input + .BornHS__Label {
    background: #F49807;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    position: absolute;
    transition: all 300ms ease;
    width: 20px;
    z-index: 8;    
}
@media (min-width: 768px) {
    .BornHS__Wrapper .BornHS__Input + .BornHS__Label {
        height: 30px;
        width: 30px;
   }
}
.BornHS__Wrapper .BornHS__Input + .BornHS__Label:before, .BornHS__Wrapper .BornHS__Input + .BornHS__Label:after {
    background: #fff;
    content: "";
    cursor: pointer;
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.BornHS__Wrapper .BornHS__Input + .BornHS__Label:before {
    height: 2px;
    width: 40%;
}
.BornHS__Wrapper .BornHS__Input + .BornHS__Label:after {
    height: 40%;
    width: 2px;
}
.BornHS__Wrapper .BornHS__Input ~ .BornHS__Overlay {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 7;
}
.BornHS__Wrapper .BornHS__Input:checked + .BornHS__Label {
    transform: rotate(45deg);
}
.BornHS__Wrapper .BornHS__Input:checked ~ .BornHS__Modal__Content {
    opacity: 1;
    visibility: visible;
}


