@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600&display=swap");
* {
  font-family: "Prompt", sans-serif;
}

body {
  margin: auto;
}
.sec-3 {
  background-image: url(/img/assets/c/c01_paper.png);
  background-color: #1e1e1e;
  height: 100vh;
  padding: 20px;
  margin-top: -3px;
  background-size: cover;
}
.sec-3-click {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;
}
.sec-3-click p {
  position: absolute;
  text-decoration: underline;
  color: #fff;
  font-size: 1.098vw;
}
.shirt {
  display: flex;
  margin-top: 6vw;
}
.shirt-img-1 {
  /* margin: 150px 25%; */
  left: 21.303vw;
  margin-top: 1.684vw;
  position: absolute;
}
.shirt-img-1 .shirt-1 {
  /* width: 300px; */
  width: 21.94vw;
}

.shirt-img-2 {
  position: absolute;
  /* margin: 130px 39%; */
  left: 37vw;
}
.shirt-img-2 .shirt-2 {
  /* width: 300px; */
  width: 24vw;
}
.shirt-img-3 {
  /* margin: 250px 31%; */
  left: 27vw;
  margin-top: 7vw;
  position: absolute;
}
.shirt-img-3 .shirt-3 {
  /* width: 250px; */
  width: 22.29vw;
}
.shirt-img-4 {
  /* margin: 160px 52%; */
  left: 54vw;
  margin-top: 2vw;
  position: absolute;
}
.shirt-img-4 .shirt-4 {
  /* width: 340px; */
  width: 24.87vw;
}
.shirt-img-5 {
  /* margin: 250px 53%; */
  left: 57vw;
  margin-top: 4vw;
  position: absolute;
}
.shirt-img-5 .shirt-5 {
  /* width: 300px; */
  width: 22vw;
}

.shirt-img-6 {
  /* margin: 140px 48%; */
  left: 48vw;
  margin-top: 3vw;
  position: absolute;
  z-index: 1;
}
.shirt-img-6 .shirt-6 {
  /* width: 300px; */
  width: 21.94vw;
}
.shirt-img-7 {
  /* margin: 300px 38%; */
  left: 38vw;
  margin-top: 13vw;
  position: absolute;
  z-index: 2;
}
.shirt-img-7 .shirt-7 {
  /* width: 300px; */
  width: 21.94vw;
}
.shirt-img-8 {
  /* margin: 140px 47%; */
  left: 49vw;
  margin-top: 1.5vw;
  position: absolute;
  rotate: 10deg;
}
.shirt-img-8 .shirt-8 {
  /* width: 100px; */
  width: 7.32vw;
}
.shirt-img-9 {
  /* margin: 280px 20%; */
  left: 18vw;
  margin-top: 11vw;
  position: absolute;
}
.shirt-img-9 .shirt-9 {
  /* width: 300px; */
  width: 24.94vw;
}
.shirt-img-10 {
  /* margin: 320px 62%; */
  left: 66vw;
  margin-top: 12vw;
  position: absolute;
  z-index: 2;
}
.shirt-img-10 .shirt-10 {
  /* width: 180px; */
  width: 12vw;
}

.BornHS__Wrapper {
  position: relative;
  z-index: 10;
}
.BornHS__Modal__Input {
  position: absolute;
}
.BornHS__Wrapper .BornHS__Close {
  display: none;
}
.BornHS__Wrapper .Content__Wrapper {
  position: relative;
}
.BornHS__Wrapper .BornHS__Modal__Content {
  /* padding: 10px; */
  padding: 0.732vw;
  background: #ffffff;
  /* border-radius: 25px; */
  border-radius: 1.83vw;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.22);
  color: #1e1e1e;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  /* width: 240px; */
  width: 17.57vw;
  z-index: 10;
}

.BornHS__Modal__Content .Content__Wrapper {
  padding: 10px;
}
.Content__Wrapper .BornHS__Title {
  /* font-size: 20px;
  line-height: 20px; */
  font-size: 1.5vw;
  line-height: 1.46vw;
  margin-top: 10px;
  text-align: center;
}
.Content__Wrapper p {
  text-align: center;
  /* font-size: 15px; */
  font-size: 1.1vw;
  margin: 0;
  padding: 0;
}

.BornHS__Wrapper .BornHS__Input {
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  width: 0;
  z-index: 6;
}
.BornHS__Wrapper .BornHS__Input + .BornHS__Label {
  background: #ca2d2d;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  position: absolute;
  transition: all 300ms ease;
  width: 20px;
  z-index: 8;
}
.BornHS__Wrapper .BornHS__Input + .BornHS__Label:hover {
  transform: scale(1.5);
}
/* --------MOBILE+TABLET(vertical)-------- */
@media only screen and (min-width: 390px) and (max-width: 1365px) {
  .BornHS__Wrapper .BornHS__Input + .BornHS__Label {
    height: 30px;
    width: 30px;
  }
  .Content__Wrapper .BornHS__Title {
    font-size: 2.5vw;
    line-height: 2.46vw;
    margin-top: 10px;
    text-align: center;
  }
  .Content__Wrapper p {
    text-align: center;
    font-size: 2.1vw;
    margin: 0;
    padding: 0;
  }
  .BornHS__Wrapper .BornHS__Modal__Content {
    padding: 0.732vw;
    width: 29.57vw;
  }
  #modal2.BornHS__Modal__Content {
    margin-top: -16vw !important;
    margin-left: -28vw !important;
  }
  #modal3.BornHS__Modal__Content {
    margin-top: -21vw !important;
    margin-left: -10vw !important;
  }
}

/* --------PC-------- */
@media only screen and (min-width: 1366px) {
  .BornHS__Wrapper .BornHS__Input + .BornHS__Label {
    height: 2.196vw;
    width: 2.196vw;
  }
}
.BornHS__Wrapper .BornHS__Input + .BornHS__Label:before,
.BornHS__Wrapper .BornHS__Input + .BornHS__Label:after {
  background: #000;
  content: "";
  cursor: pointer;
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.BornHS__Wrapper .BornHS__Input + .BornHS__Label:before {
  height: 2px;
  width: 40%;
}
.BornHS__Wrapper .BornHS__Input + .BornHS__Label:after {
  height: 40%;
  width: 2px;
}
.BornHS__Wrapper .BornHS__Input ~ .BornHS__Overlay {
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 7;
}
.BornHS__Wrapper .BornHS__Input:checked + .BornHS__Label {
  transform: rotate(45deg);
}
.BornHS__Wrapper .BornHS__Input:checked ~ .BornHS__Modal__Content {
  opacity: 1;
  visibility: visible;
}

.BornHS__Wrapper .BornHS__Input + .BornHS__Label:before,
.BornHS__Wrapper .BornHS__Input + .BornHS__Label:after {
  background: #fff;
  content: "";
  cursor: pointer;
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.BornHS__Wrapper .BornHS__Input + .BornHS__Label:before {
  height: 0.146vw;
  width: 40%;
}
.BornHS__Wrapper .BornHS__Input + .BornHS__Label:after {
  height: 40%;
  width: 0.146vw;
}
.BornHS__Wrapper .BornHS__Input ~ .BornHS__Overlay {
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 7;
}
.BornHS__Wrapper .BornHS__Input:checked + .BornHS__Label {
  transform: rotate(45deg);
}
.BornHS__Wrapper .BornHS__Input:checked ~ .BornHS__Modal__Content {
  opacity: 1;
  visibility: visible;
}
